<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @resource.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @resource.lname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @resource.dob %>
</p>

<p>
  <strong>Phnumber:</strong>
  <%= @resource.phnumber %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resource.email %>
</p>

<p>
  <strong>Expr:</strong>
  <%= @resource.expr %>
</p>

<p>
  <strong>Spclizn:</strong>
  <%= @resource.spclizn %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
